
# vendored deps build artifacts
src/deps/**/*.o
src/deps/**/*.a
src/deps/**/*.so
src/deps/**/*.dylib
src/deps/**/*.la
src/deps/**/*.lo
src/deps/**/.libs/
src/deps/**/.DS_Store
src/deps/xz/install/
src/deps/libdeflate/build/
docs/
inst/doc
